body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7173e4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    border-color: #7173e4;
    text-align: center;
}

.styled-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.8s ease, transform 0.8s ease;
}

.styled-button:hover {
    background-color: #45a049;
    transform: scale(1.1);

.styled-button:active {
    background-color: #3e8e41;
    transform: scale(0.9);
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
